@page "/admins"
@layout MainLayout

@if (Loading)
{
    <div class="d-flex justify-content-center mt-5">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </div>
}
else if (error)
{
    <div class="d-flex justify-content-center" style="height: 100vh; align-items: center">
        <h2>Someting went error!😥</h2>
    </div>
}
else
{
    <MudTable Items="@admins" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<UserDto, bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Categories Table</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            <MudSpacer />
            <MudButton @onclick="OpenAddPage" StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Success" Size="Size.Medium">Add</MudButton>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>FullName</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Address</MudTh>
            <MudTh>EmailConfirmed</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.FullName</MudTd>
            <MudTd DataLabel="Name">@context.Email</MudTd>
            <MudTd DataLabel="Name">@context.Address</MudTd>
            <MudTd DataLabel="Name">@context.EmailConfirmed</MudTd>
            <MudTd DataLabel="Actions">
                <MudIconButton @onclick="() => OpenEditPage(context.Id)" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" />
                <MudIconButton @onclick="() => Delete(context.Id)" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" />
            </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
}

@code {
    @inject HttpClient httpClient
    @inject NavigationManager navigation
    @inject ISnackbar Snackbar
    @inject IDialogService DialogService
    @inject ILocalStorageService localStorage

    bool Loading = true;
    bool error = false;
    private string searchString1 = "";
    private UserDto selectedItem1 = new();
    private List<UserDto> admins = new();

    protected override async Task OnInitializedAsync()
    {
        var token = await CustomAuthorize.GetTokenAsync(localStorage);
        if (string.IsNullOrEmpty(token))
        {
            navigation.NavigateTo("/login");
        }

        var roles = await CustomAuthorize.GetRolesAsync(localStorage);
        if (!roles.Contains("SuperAdmin"))
        {
            Snackbar.Add("You don't have permission to access this page!", Severity.Error);
            navigation.NavigateTo("/");
        }

        httpClient.DefaultRequestHeaders.Authorization = new("Bearer", token);
        var response = await httpClient.GetAsync(Constants.BASE_URL + "admin/get-admins");
        if (response.IsSuccessStatusCode)
        {
            admins = await response.Content.ReadFromJsonAsync<List<UserDto>>();
            Loading = false;
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.Forbidden)
        {
            Snackbar.Add("You don't have permission to access this page!", Severity.Error);
            navigation.NavigateTo("/");            
        }

        else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            navigation.NavigateTo("/login");
        }
        else
        {
            error = true;
            Loading = false;
        }
    }

    private bool FilterFunc1(UserDto element) => FilterFunc(element, searchString1);

    private bool FilterFunc(UserDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.FullName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private void OpenAddPage()
    {
        navigation.NavigateTo("/admins/add");
    }

    private void OpenEditPage(string id)
    {
        navigation.NavigateTo($"/admins/edit/{id}");
    }

    private async void Delete(string id)
    {
        var parameters = new DialogParameters<YesNo>();
        parameters.Add(x => x.ContentText, "Are you sure delete this?");
        parameters.Add(x => x.ButtonText, "Yes");
        parameters.Add(x => x.Color, Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialogResult = await DialogService.Show<YesNo>("Delete", parameters, options).Result!;
        if (!dialogResult.Cancelled)
        {
            var response = await httpClient.DeleteAsync(Constants.BASE_URL + "admin/delete-admin/" + id);
            if (response.IsSuccessStatusCode)
            {
                Snackbar.Add("Admin deleted successfully!", Severity.Success);
                admins.RemoveAll(x => x.Id == id);
                StateHasChanged();
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                navigation.NavigateTo("/login");
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                Snackbar.Add("Admin not found!", Severity.Error);
                navigation.NavigateTo("/admins");
            }
            else
            {
                Snackbar.Add("Something went wrong!", Severity.Error);
            }
        }
    }
}